<td class="share-name">
    <input type="text"
           class="collaborator-name"
           name="name"
           required
           maxlength="100"
           placeholder="Name">
</td>
<td class="share-email">
    <input type="email"
           class="collaborator-email"
           name="email"
           required
           maxlength="254"
           placeholder="Enter an e-mail...">
</td>
<td class="remove-collab-container">
    <div class="remove-collaboration">
    </div>
</td>


