<div class="resend-email-dialog">
    <form id="resend-email">
        <section class="recipients">
            <strong>Sending to:</strong>
        </section>
        <section class="share-message">
            <label>
                <strong>Message (optional)</strong>
                <textarea maxlength="1000" rows="4"></textarea>
            </label>

            <div class="submit">
                <input class="send-email cta" type="submit" value="Send Email">
            </div>
        </section>
    </form>
</div>