<div id="connection-file-transfer">
    <section>
        <table class="providing">
        </table>
    </section>

    <section>
        <table class="receiving">
        </table>
    </section>
</div>
