<div>
    <input type="file" id="connection-csv" accept=".csv"/>
    <p class="error"></p>
    <p class="upload-warning">
        * Uploaded connections will overwrite existing connections.
    </p>
</div>