<div id="board">
    <div class="resize left" data-direction="left">
        <div class="ui-icon ui-icon-carat-2-e-w"></div>
    </div>
    <div class="resize top" data-direction="top">
        <div class="ui-icon ui-icon-carat-2-n-s"></div>
    </div>
    <div class="resize right" data-direction="right">
        <div class="ui-icon ui-icon-carat-2-e-w"></div>
    </div>
    <div class="resize bottom" data-direction="bottom">
        <div class="ui-icon ui-icon-carat-2-n-s"></div>
    </div>
    <svg viewBox="0 0 1050 400" preserveAspectRatio="xMinYMin meet">
        <g transform="scale(1,-1) translate(0,0)">
            <g class="anchors"/>
        </g>
    </svg>
    <div class="radius-control"></div>
</div>
