<div class="carousel">
    <div class="slide">
        <p>Your product page is being generated. This will take a few minutes.</p>
    </div>
    <div class="slide">
        <p>Once the product page is generated, you can order your design and receive a built and tested board in 15 business days.</p>
    </div>
    <div class="slide">
        <p>We look forward to helping you make your product a success, don't hesitate to send us your questions and suggestions to
            <a href="mailto:sales@gumstix.com">sales@gumstix.com</a>.
        </p>
    </div>
    <div class="slide">
        <p>Download documentation and board support files, custom generated for your design,
            by clicking on the Autodoc and AutoBSP buttons on the Geppetto toolbar.</p>
    </div>
</div>
