<div class="cc-notice">
    <p><a target="_blank" rel="license" href="//creativecommons.org/publicdomain/zero/1.0/">
        <img src="//i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
    </a></p>
    <p><small>By sharing, you release your design to the public and waive all copyrights, so others may copy, modify, and use it for any purpose.</small></p>
    <p><a target="_blank" rel="license" href="//creativecommons.org/publicdomain/zero/1.0/">
        <small>View the full license text</small>
    </a></p>
</div>
