<div>
    <p>
        <label>You have unsaved changes. {{#if design_title}} Your current design is "{{design_title}}". {{/if}}
            Please choose one of the following options before you proceed {{action}}.
        </label>
    </p>
</div>
