<div id="tutorial-textbox">
    <div id="tutorial-textbox-content"></div>
    <div class="tooltip-buttons">
        <button type="button" class="close">Got it</button>
        <button type="button" class="close all">Turn off hints</button>
    </div>
</div>
