<div class="workspace tabview">
    <div class="interaction-helper"></div>
    <div class="grid"></div>
    <div id="design" class="workspace-container" tabindex="0">
        <div class="anchor-extensions"></div>
        <div class="dimensions"></div>
        <div class="threed-board"></div>
    </div>

    <div class="tabview-header">
        <div class="toolbar-container"></div>
    </div>

    <div class="tool-panel"></div>

    <div class="working-area-toolbar-container"></div>

    <div id="multi-view-buttons"></div>

    <div id="scale"><span id="scale-value"></span> mm
        <hr>
    </div>

    <div id="hotkey-message"></div>

    <div class="provider-options-container"></div>

    <div id="tutorial-container">
        {{! Contains the tutorial text box and arrow. }}
    </div>

    <div id="upverter-container"></div>
    <div id="cad-viewer-container"></div>
</div>
